
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  /* [1] The container */
.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

#model:hover {
  cursor: pointer;
  font-weight: 23px;
}

/* breadcrumb */

.breadcrumb-arrow {
  min-height: 36px;
  /*     padding: 0; */
  line-height: 36px;
  list-style: none;
  overflow: auto;
  /*    background-color: #e6e9ed*/
  /*background: linear-gradient(to right, #eaeaea 0%,#ffffff 100%);*/
}

.breadcrumb-arrow li:first-child a {
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
}

.breadcrumb-arrow li,
.breadcrumb-arrow li a,
.breadcrumb-arrow li span {
  display: inline-block;
  /*vertical-align: top;*/
}

.breadcrumb-arrow li:not(:first-child) {
  margin-left: -5px;
}

.breadcrumb-arrow li+li:before {
  padding: 0;
  content: "";
}

.breadcrumb-arrow li span {
  padding: 0 10px;
}

.breadcrumb-arrow li a,
.breadcrumb-arrow li:not(:first-child) span {
  height: 36px;
  padding: 0 10px 0 25px;
  line-height: 36px;
}

.breadcrumb-arrow li:first-child a {
  padding: 0 10px;
}

.breadcrumb-arrow li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #343a40;
  border: 1px solid #343a40;
}

.breadcrumb-arrow li:first-child a {
  padding-left: 10px;
}

.breadcrumb-arrow li a:after,
.breadcrumb-arrow li a:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: '';
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.breadcrumb-arrow li a:before {
  right: -10px;
  z-index: 3;
  border-left-color: #343a40;
  border-left-style: solid;
  border-left-width: 10px;
}

.breadcrumb-arrow li a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #fff;
}

.breadcrumb-arrow li a:focus,
.breadcrumb-arrow li a:hover {
  background-color: #40474e;
  border: 1px solid #40474e;
}

.breadcrumb-arrow li a:focus:before,
.breadcrumb-arrow li a:hover:before {
  border-left-color: #40474e;
}

.breadcrumb-arrow li a:active {
  background-color: #40474e;
  border: 1px solid #40474e;
}

.breadcrumb-arrow li a:active:after,
.breadcrumb-arrow li a:active:before {
  border-left-color: #40474e;
}

/*set for Last child*/

.breadcrumb-arrow li.active span {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #3490dc;
  border: 1px solid #3490dc;
}

.breadcrumb-arrow li.active:first-child span {
  padding-left: 10px;
}

.breadcrumb-arrow li.active span:after,
.breadcrumb-arrow li.active span:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: '';
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.breadcrumb-arrow li.active span:before {
  right: -10px;
  z-index: 3;
  border-left-color: #3490dc;
  border-left-style: solid;
  border-left-width: 11px;
}

.breadcrumb-arrow li.active span:after {
  right: -11px;
  z-index: 2;
  border-left: 10px solid #3490dc;
}